<html lang="en">
    {% include 'inventory/head.html' %}

<body>
    <div class="container-fluid d-flex align-items-center justify-content-center">
        <div class="form-container">
           
            
            <form method="post" class="gy-2 gx-3 align-items-center">
                <p>Are you sure you want to delete {{object.title}} ?</p>

                {% csrf_token %}
                
              
    
        
                <div class="mt-3"><button type="submit" class="btn btn-primary">Submit</button></div>

            </form>    
                
                
            
        </div>
    </div>
</body>
</html>