{% extends 'inventory/base.html' %}
{% load humanize %}


{% block content %}

<div class="container-xl">

    <!-- BUTTONS AND SEARCH BAR -->
    <div class="d-flex flex-row bd-highlight align-items-center py-3 buttons-container">

        <button type="button" id="delete-btn" class="btn btn-outline-danger mx-3">Delete</button>



        <input type="checkbox" class="btn-check mx-3" id="select-all" autocomplete="off">
        <label class="btn btn-outline-secondary" for="select-all">Select All</label>
        
        {% include 'inventory/purchase-filter.html' %}

        <a type="button" class="btn btn-outline-dark" href="{% url 'purchase-create' %}">Add</a>
        
    </div>

    <!-- TABLE WITH PROFIT INFO -->
    <div class="profit-revenue-report">
        <div class="profit d-flex justify-content-left align-content-end"><p>Total <span>profit</span> for {% if request.GET.start_date and request.GET.end_date %} period of time from {{request.GET.start_date}} until {{request.GET.end_date}} {% elif request.GET.start_date%} from {{request.GET.start_date}} {% elif request.GET.end_date %} until {{request.GET.end_date}} {% else  %} whole history{% endif %} : </p><div class="break"></div><p>${{profit|floatformat:2}}</p></div>
        <div class="revenue d-flex justify-content-left align-content-end"><p>Total <span>revenue</span> for {% if request.GET.start_date and request.GET.end_date %} period of time from {{request.GET.start_date}} until {{request.GET.end_date}} {% elif request.GET.start_date%} from {{request.GET.start_date}} {% elif request.GET.end_date %} until {{request.GET.end_date}} {% else  %} whole history{% endif %} : </p><div class="break"></div><p>${{revenue|floatformat:2}}</p></div>
    </div>
    

    <!-- TABLE WITH INFO -->
    <div class="table-responsive">
        <table class="table table-borderless inventory-table">
            {% csrf_token %}
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Menu Item</th>
                    <th>Date</th>
                    <th>Profit</th>
                </tr>
            </thead>
            <tbody>
                {% for key, purchase in purchases_dict.items %}
            
                    <tr class="disapearing{{key.id}}">
                        <td>
                            
                                <div>
                                    <input class="checkbox-to-delete" type="checkbox" id="checkboxNoLabel" aria-label="..." value="{{ key.id }}">
                                  </div>
                            
                        </td>
                    <td>{{ purchase.menu_item }}</td>
                    <td>{{ purchase.timestamp }}; {{ purchase.timestamp|naturaltime }}</td>
                    <td>${{ purchase.profit|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

